.create-challenge-form.create-challenge-form--dates {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.login-form-container,
.register-form-container,
.create-challenge-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.register-form__heading,
.login-form__heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.register-form,
.login-form,
.create-challenge-form {
  width: 100%;
}


.create-challenge-form label {
  text-align: left;
  font-size: 13px;
  margin-bottom: 3px;
}

.login-form__button,
.register-form__button,
.create-challenges-form__button {
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1rem 0;
  font-size: 14px;
}

.form-input label {
  text-align: left;
  font-size: 13px;
  margin-bottom: 3px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.form-input input,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  width: 100%;
  font-size: 13px;
}

.form-input span {
  color: red;
  font-size: 0.8rem;
  padding: 0 3px;
  display: none;
}

/* Conditionally change styles based on focused property */
.form-input input:invalid[focused="true"]~span {
  display: block;
}

.form-input input:invalid[focused="true"] {
  border: 1px solid red;
}

.challenge-description {
  width: 100%
}


@media only screen and (max-width: 600px) {

  .login-form-container,
  .register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;

    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .register-form__heading,
  .login-form__heading {
    font-size: 1.4rem;
    font-weight: bold;
  }

}

@media only screen and (min-width: 600px) {

  .login-form-container,
  .register-form-container,
  .create-challenge-form-container {
    width: 100%;
    max-width: 500px;
  }
}
